<body>
<ul>
  <li *ngFor="let student of students">
    <h1> My CV</h1>
    <img class="size" src="assets/21740735_1354210741362365_1771005110881783915_o.jpg" >
      <h1> {{student. name }} {{student.surname}}</h1>
      <h2>{{student.studentId}}</h2>
      <p>Nickname : Meen</p>
      <p>Age : 21</p>
      <p>Weight : 51</p>
      <p>Height : 168</p>
      <p>Contact : zonzon.meen@gmail.com</p>
      <p> The average gpa is {{averageGpa()}} </p>
      <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number: '1.2-2'}}</p>
  <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number: '1.2-2'}}</p>      
  </li>    
</ul>
</body>